*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    background: rgb(14, 12, 5);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: brown;
    background-image: linear-gradient(to top,red 0%, yellow 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover{
    color: red ;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: black;
    }
    .navbar__menu.active{
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top:20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbar__toggle .bar{
         display: block;
         cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


}

/* edicion del main */
/* .main{
    background-color: rgba(80, 3, 3, 0.87);
}
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: rgba(80, 3, 3, 0.87);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
} */


/* Experiencia */
.experiencia{
    background: linear-gradient(rgb(46, 19, 19),rgb(77, 3, 3));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.experiencia h1{
    background-color: brown;
    background-image: linear-gradient(to right, rgb(126, 18, 18)0%, rgb(197, 88, 16)78%
    );
    background-size:  100%;
    margin: 1rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.experiencia__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.experiencia__carta{
    margin: 1rem;
    height: 490px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,rgb(116, 6, 6) 0%, rgb(190, 106, 9)
    78%);
    object-fit: contain;
    background-size: cover;
    position: relative;
    color: #fff;
}
.experiencia__carta:nth-child(2){
    background-image: linear-gradient(to bottom,rgb(116, 6, 6) 0%, rgb(190, 106, 9)
    78%);
}
.experiencia__carta:nth-child(3){
    background-image: linear-gradient(to bottom,rgb(116, 6, 6) 0%, rgb(190, 106, 9)
    78%);
    
}

.experiencia h2{
    padding: auto;
    position: absolute;
    top: 310px;
    left: 30px;
}

.experiencia img{
    padding-top: 70px;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.experiencia__carta p{
    position: absolute;
    margin: 10px 0px 10px 0px;
    /* padding-bottom: 300000px; */
    top: 360px;
    left: 30px;
}

.experiencia__carta button{
    color: #000000;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: firebrick;
    position: absolute;
    top: 425px;
    left: 25px;
    font-size: 1rem;
    cursor: pointer;
}

.experiencia__carta:hover{
    transform: scale(1.045);
    transition: 0.2s ease-in;
}


/* aqui comenzamos con el carrusel */
.container{
    width: 90%;
    min-height: 50vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.hero{
    background: linear-gradient(rgb(46, 19, 19),rgb(77, 3, 3));
    padding: 40px 0px;
}
.hero__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background: linear-gradient(rgb(46, 19, 19),rgb(77, 3, 3));
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__texts{
    max-width: 600px;
}
.subtittle{
    padding-left: 50px;
    font-size: 3.5rem;
    color: orangered;
    /* margin-bottom: 20px; */
}

.slider__img{
    width: 430px;
    height: 430px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}

@media(max-width:768px){
    .slider__body{
        grid-template-columns: 1fr ;
        grid-template-rows: max-content 1fr;
        gap: 1em;
    }
    .slider__arrow{
        width: 100%;
    }
    .subtittle{
        font-size: 2rem;
    }
    .slider__picture{
        grid-row: 1/2;
    }
    .slider__img{
        width: 310px;
        height: 310px;
    }
}
@media(max-width:425px){
    /* .slider__body{
        grid-template-columns: 1fr ;
        grid-template-rows: max-content 1fr;
     */
    .hero__container{
        grid-template-columns: 25px 1fr 25px;
    }
    .slider__picture{
        grid-row: 1/2;
    }
    .slider__arrow{
        width: 100%;
    }
    .slider__img{
        width: 210px;
        height: 210px;
    }
    .subtittle{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

/* Aqui empieza el about me */
.aboutMe{
    background: url("images/yo2.jpg") no-repeat left;
    background-size: 55%;
    background-color: rgb(139, 71, 46);
    overflow: hidden;
    padding: 100px 0;
}

.inner__container{
    width: 55%;
    float: right;
    background-color: rgb(185, 130, 110);
    padding: 140px;
}

.inner__container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #000000;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.objetivos{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width:1200px){
    .inner__container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .aboutMe{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner__container{
        padding: 80px;
    }
}
@media screen and (max-width:600px){
    .aboutMe{
        padding: 0px;
    }
    .inner__container{
        padding: 60px;
    }
}



/* Aqui inicia el Contact Me */
.footer__container{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(90, 15, 15);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.information img{
    width: 30px;
}

.form{
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgb(217, 209, 224);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact__form{
    background-color: rgba(0, 0, 0, 0.822);
    position: relative;
}

.circle{
    position: absolute;
    background: linear-gradient(transparent 20%, #ca1010);
    border-radius: 50%;
}

.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -20px;
}

.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact__form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgb(51, 47, 47);
    top: 50px;
    left: -12px;
    transform: rotate(45deg);
}

form{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.tittle{
    color: #ca1010;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .7rem;
}

.input__container{
    position: relative;
    margin: 1rem 0;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid #f5f2f2;
    background: none;
    padding: .6rem 1.2rem;
    color: #ca1010;
    font-weight: 500;
    font-size: .95rem;
    letter-spacing: 1px;
    border-radius: 25px;
    transition: .3s;
}

textarea.input{
    padding: .8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input__container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 .4rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: .3s;
    color: #fcfbfb;
}

.input__container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.btn{
    padding: .6rem 1.3rem;
    background-color: #ca1010;
    border: 2px solid rgb(219, 200, 200);
    font-size: .95rem;
    line-height: 1;
    border-radius: 25px;
    color: #140202;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin: 0;
    outline: none;
}

.btn:hover{
    background-color: transparent;
    color: #fff;
}


.contact__info{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact__info.tittle{
    color: #ca1010;
}

.text{
    color: #ca1010;
    margin: 1.5rem 0 2rem 0;
}

.information P{
    display: flex;
    color: #ca1010;
    margin: .7rem 0;
    font-size: .95rem;
    align-items: center;
}

/* .big__circle{
    position:absolute;
    width: 500px;
    height: 500px;
    border: 80px solid rgb(9, 10, 7);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%,38%);
} */


@media(max-width : 850px){
    .form{
        grid-template-columns: 1fr;
    }
    .contact__info::before{
        bottom: initial;
        top: -72px;
        right: 65px;
        transform: scale(.95);
    }
    .contact__form::before{
        top: -12px;
        left: initial;
        right: 70px;
    }

    /* .big__circle{ */
        /* bottom: 75%;
        transform: scale(.9) translate(-40%,30%) ;
        right: 50%;
    } */

    .text{
        margin: 1rem 0 1.5rem 0;
    }
}
@media(max-width: 480px){
    .footer__container{
        padding: 1.5rem;
    }
    .contact__info::before{
        display: none;
    }
    /* .big__circle{
        display: none;
    } */
    form,.contact__info{
        padding: 1.7rem 1.6rem;
    }
    .text,.information p{
        font-size: .8rem;
    }
    .tittle{
        font-size: 1.15rem;
    }
    .information img{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .input{
        padding: .45rem 1.2rem;
    }
    .btn{
        padding: .45rem 1.2rem;
    }
}